.tabPane
{
    -fx-background-color: #94abd1;
}

.tab
{
    -fx-background-color: #778fb7;
}

.anchorPane
{
    -fx-background-color: #c6d7f2;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #9cb3d8;

}

.map
{
    -fx-border-color: black;
}

.blackBorder
{
    -fx-border-color: black;
}

.button_marker_start
{
    -fx-background-image: url("marker_start.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color:transparent;
    -fx-background-size: cover, auto;
}

.button_marker_finish
{
    -fx-background-image: url("marker_finish.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.button_add
{
    -fx-background-image: url("add.png");
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}